.Roomsection{
  
   padding: 5rem 4rem  5rem  4rem;
   height: auto;
   background-color:  rgba(234, 241, 247, 0.726);
}
.great{
 padding: 5rem 0;
}
.offer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.offer h1{
    font-size: 4rem;
}
.offer p{
    width: 50%;
    line-height: 25px;
}
.Room_card_section{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .25);
    background-color: white;
}
.Room_card_section_reverse{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .25);
    background-color: white;
}
.col_1{
    width: 100%;
    height: 80vh;
}
.col_1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.col_2{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text_area{
padding: 0 4rem;
margin-top: -2rem;

}
p{
    margin-bottom:2rem;
}
span{
    font-size: 4.5rem;
    color: rgb(224, 143, 28);
}
h4{
    font-size: 2.5rem;
    font-weight: 500;
}
.t-area{
    line-height: 30px;
    color: gray;
}
.room_btn{
    background-color:rgb(224, 143, 28) ;
    color: white;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 25px;
}

@media(max-width:850px){
    .Room_card_section{
        flex-direction: column;
        width: 100%;
    }
    .Room_card_section_reverse{
        flex-direction: column;
    }
    .Roomsection{
        padding: 0;
    }
}